// ---------------------------------------------
// Colors
// ---------------------------------------------

$colors: (
    01: #ccc,
);

// ---------------------------------------------
// Paths
// ---------------------------------------------

$dir-assets: "/assets";

// ---------------------------------------------
// Breakpoints
// ---------------------------------------------

$breakpoints: (
	"tablet": 600,
	"desktop": 1024
);

// ---------------------------------------------
// Vars
// ---------------------------------------------


