.action-list__title {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: deeppink; }

.action-list__item {
  font-family: sans-serif;
  font-size: 22px;
  color: deepskyblue; }

.alert {
  margin-top: 0;
  padding: 10px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  border: 3px solid #444; }

.alert__title {
  color: #444;
  font-size: 32px;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif; }

.alert--warning {
  border-color: deeppink; }
  .alert--warning .alert__title {
    color: deeppink; }

.alert--success {
  border-color: deepskyblue; }
  .alert--success .alert__title {
    color: deepskyblue; }

.alert_message--hidden {
  display: none; }
  .alert_message--hidden.is-active {
    display: block; }

.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid deeppink; }

.footer__title {
  font-family: sans-serif;
  color: deeppink; }

.footer__copyright {
  color: #ccc;
  font-family: sans-serif; }

.movie-list {
  font-family: sans-serif; }

.movie-list__body {
  font-size: 22px; }

.movie-list__table th {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 5px;
  color: deeppink;
  text-align-last: left;
  border-bottom: 2px solid deepskyblue; }

.movie-list__table td {
  font-size: 18px;
  padding: 10px 20px 10px 0; }

.movie-list__footnote {
  font-family: sans-serif;
  font-size: 18px;
  color: deepskyblue; }

.detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 25px 500px;
  grid-template-columns: 500px 25px 500px; }

.detail__title {
  margin: 0 0 20px 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: deeppink; }

.detail__intro {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px; }

.detail__main {
  -ms-grid-column: 1;
  grid-column: 1; }

.detail__side {
  -ms-grid-column: 3;
  grid-column: 3; }
