// ---------------------------------------------
// Block
// ---------------------------------------------

.movie-list {
    font-family: sans-serif;
}

// ---------------------------------------------
// Element
// ---------------------------------------------

.movie-list__body {
    font-size: 22px;
}

.movie-list__table {
    th {
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 5px;
        color: map-get($colors, 02);
        text-align-last: left;
        border-bottom: 2px solid map-get($colors, 01);
    }

    td {
        font-size: 18px;
        padding: 10px 20px 10px 0;
    }
}

.movie-list__footnote {
    font-family: sans-serif;
    font-size: 18px;
    color: map-get($colors, 01);
}

// ---------------------------------------------
// Modifier
// ---------------------------------------------



