// ---------------------------------------------
// Block
// ---------------------------------------------

.action-list {
    
}

// ---------------------------------------------
// Element
// ---------------------------------------------

.action-list__title {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: map-get($colors, 02);
}

.action-list__item {
    font-family: sans-serif;
    font-size: 22px;
    color: map-get($colors, 01);
}

// ---------------------------------------------
// Modifier
// ---------------------------------------------



