<div class="alert">
    <h3 class="alert__title">{{ text }}</h3>

    <div class="alert__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam error quod est quos quidem deleniti mollitia vero dolorem dignissimos?</p>
        <p>Accusamus placeat id laboriosam vitae earum voluptatum necessitatibus ipsa voluptatibus sapiente voluptatem. Aliquid error qui dicta neque officiis nemo voluptatibus.</p>
    </div>
</div>