// ---------------------------------------------
// Block
// ---------------------------------------------

.alert {
    margin-top: 0;
    padding: 10px;
    border-radius: $border-radius;
    font-family: sans-serif;    
    font-size: 16px;
    border: 3px solid map-get($colors, 03);
}

// ---------------------------------------------
// Element
// ---------------------------------------------

.alert__title {
    color: map-get($colors, 03);
	font-size: 32px;
	font-weight: 300;
	font-family: $font-custom;
}

.alert--warning {
    border-color: map-get($colors, 02);

    .alert__title {
        color: map-get($colors, 02);
    }
}

.alert--success {
    border-color: map-get($colors, 01);

    .alert__title {
        color: map-get($colors, 01);
    }
}

// ---------------------------------------------
// Modifier
// ---------------------------------------------

.alert_message--hidden {
    display: none;
    
    &.is-active {
        display: block;
    }
}