// ---------------------------------------------
// Block
// ---------------------------------------------

.alert {
    margin-top: 0;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;    
    font-size: 16px;
    border: 1px solid dashed #000;
    background-color: #ccc;

    @include respond-to-min('tablet') {
        font-size: 28px;
    }
}

// ---------------------------------------------
// Element
// ---------------------------------------------

.alert--warning {
    background-color: map-get($colors, 01);
}

.alert--success {
    background-color: green;
}

// ---------------------------------------------
// Modifier
// ---------------------------------------------

.alert_message--hidden {
    display: none;
}